html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color: var(--main);
    background-color: var(--white);
    line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input,
select,
textarea {
  padding: 0;
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-pr-effect {
  transition: opacity 200ms ease, transform 50ms ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translateY(2px);
  }}