@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/manrope/Manrope-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/manrope/Manrope-Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/manrope/Manrope-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/manrope/Manrope-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Regular.otf') format('opentype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-Medium.otf') format('opentype');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/Inter-SemiBold.otf') format('opentype');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}