.header {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: var(--badges);
    border-bottom: 1px solid var(--badges);
    padding: 24px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}

.link {
    color: var(--main);
    transition: color 0.5s ease;
}

.link:hover {
    color: var(--button-hover);
}

.active {
    color: var(--button);

}

p {
    font-weight: 500;
    font-size: 16px;
}