.wrap {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 124px;
}
.btn {
  border: 1px solid var(--button);
  border-radius: 12px;

  width: 156px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  color: var(--main);
  transition: border 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

&:hover {
  border: 1px solid var(--button-hover);
}
  &:disabled {
    cursor: auto;
  
}}

.disabled {
    cursor: progress;
  }